body {
  background-color: #FEFEFA;
  margin: 42px;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p,
#income,
button,
.dropdown-container,
table {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 24px;
  margin: 0;
}

p.how-to {
  margin: 16px 0;
  width: 80%;
}

.input-container {
  align-items: center;
  display: flex;
}

#income {
  font-size: 24px;
  height: 32px;
}

button {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 900;
  font-size: 16px;
  height: 32px;
  width: 128px;
}

table {
  height: 300px;
  text-align: left;
}

.total {
  font-weight: 900;
}

/* Dropdown Menu Styling */
/* The container must be positioned relative: */
.dropdown-container {
  font-size: 24px;
  margin: 24px 0;
  position: relative;
  width: 576px;
}
  
.dropdown-container select {
  display: none; /*hide original SELECT element: */
}
  
  
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #000 transparent transparent transparent;
    border-radius: 3px;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #000 transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: #000;
    padding: 8px 16px;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  
  
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  
  .select-selected {
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
  }
  
  .hide-border-bottom{
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: white;
    border: 2px solid black;
    border-top: none;
    border-radius: 0px 0px 5px 5px;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    
    animation-name: growDown;
    animation-duration: 150ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    transform-origin: top-center;
  }
  
  
  
  
  
  
  @keyframes growDown {
    0% {
      transform: scaleY(0)
    }
    80% {
      transform: scaleY(1.1)
    }
    100% {
      transform: scaleY(1)
    }
  }
  

  @media screen and (max-width: 600px) {
    h1 {
      font-size: 24px;
    }

    p {
      font-size: 18px;
    }

    .input-container {
      width: 80%;
    }

    #income {
      font-size: 18px;
    }

    .dropdown-container {
      font-size: 18px;
      width: 222px;
    }
  }

/* Get rid of arrows for number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
